<!DOCTYPE html>
<html>
<head>
  <title>About</title>
  <link rel="icon" href="/img/weather.png">
  <link href="/css/styles.css" rel="stylesheet">
</head>
<body>
  <div class="main-content">
  {{>header}}
    <p>This site was created by Eoin Kelly. It uses data from Mapbox.com amd Weatherstack.com to be able to get weather updates</p>
    <img class="portrait" src="./img/mk.jpg" alt="">
  </div>
  {{>footer}} 
</body>
</html>